@model List<Post>

@{
    ViewData["Title"] = "Управление постами";
}
<script>
    function ConfirmDeleteRu(name) {
        console.log("ConfirmDeleteRu start");
        return confirm("Вы уверены, что хотите удалить объект " + name + "?\nОперация необратима.");
    }
</script>

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Заголовок</th>
                        <th>Автор</th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var post in Model) {
                    <tr>
                        <td>@post.CreatedDate</td>
                        <td>@post.Title</td>
                        <td>@post.Author</td>
                        <td>
                            <form style="display: inline-block;" action="/Admin/Update" method="post" onsubmit="return">
                                <input id="Id" name="Id" value="@post.Id" type="hidden">
                                <input class="btn btn-default btn-xs" value="Редактировать" type="submit">
                            </form>
                        </td>
                        <td>
                            <form style="display: inline-block;" action="/Admin/DeletePost" method="post" onsubmit="return ConfirmDeleteRu('@post.Title');">
                                <input id="Id" name="Id" value="@post.Id" type="hidden">
                                <input class="btn btn-default btn-xs" value="Удалить" type="submit">
                            </form>
                        </td>
                    </tr>
                }

            </table>
            <a class="btn btn-primary" href="/Admin/Create">Создать пост</a>
        </div>
    </div>
</div>


